<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fariz.angklung">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_angklung_ocn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_angklung_ocn"
        android:supportsRtl="true"
        android:theme="@style/Theme.Angklung">
        <activity android:name=".HistoryActivity" />
        <activity android:name=".AngklungActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>